body{
    background-color: #a4aff4;
}

h1{
    color: #025157;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

p{
    color: #8b8b8bcc;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    text-align: center;
}

button{
    color: #fff;
    background-color: #025157;
}

.acciones button{
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px;
    border: 0;
    border-radius: 5px;
}

.header{
    margin: 40px 20px 0;
    font-size: 0;
    height: 45px;
}

li{
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
    font-family: sans-serif;
}

.logo{
    width: 15%;
}

.logo > img {
width: 15%;
}

.navbar{
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
}

.acciones{
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.acciones> * {
    margin-right: 10px;
    margin-left: 10px;
}

.main{
    margin-top: 140px;

}

.acciones a{
    color: #67b54b;
}

img.imcapterra{
    width: 35%;
    display: block;
    margin: 0px auto;
}

form{
    text-align: center;
}

.vid1{
    text-align: center;
}

.pub1{
    color: #025157;
    text-align: left;
}

.parr1{
    color: #343434;
    text-align: left;
}