body {
    background-color: #a4aff4;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
}

p {
    color: #8b8b8bcc;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    text-align: center;
}

button {
    color: #fff;
    background-color: #025157;
}

.acciones button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px;
    border: 0;
    border-radius: 5px;
}

.header {
    margin: 20px 20px 0;
    font-size: 0;
    height: 45px;
    text-align: center;
}

li {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

.header>* {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
    font-family: sans-serif;
}

.logo {
    width: 15%;
}

.logo>img {
    width: 15%;
}

.navbar {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
}

.acciones {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.acciones>* {
    margin-right: 10px;
    margin-left: 10px;
}

.main {
    margin-top: 285px;
    text-align: center;

}

.acciones a {
    color: #67b54b;
}

img.imcapterra {
    width: 35%;
    display: block;
    margin: 0px auto;
}

form {
    text-align: center;
}

.vid1 {
    text-align: center;
}

.pub1 {
    color: #025157;
    text-align: left;
}

.parr1 {
    color: #343434;
    text-align: left;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;

}

.publish {
    margin-left: 40px;
}

.videopub {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videopub img {
    width: 10%;
    margin-top: 15px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: aqua;
}

.features {
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
    text-align: center;
    padding: 5% 10%;
}

.features>article {
    background-color: white;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.gridbutton {
    color: #67b54b;
    background-color: white;
    border: white;
}

.intern{
    display: flex;
    flex-direction: column;
}

@media(max-width:575px){
.navbar,
.acciones{
    display: none;
}

.main{
    margin-top: 130px;
}

.titulo{
    font-size: 30px;
}

.banner > img{
    width: 100%;
}

.publish > form {
    flex-direction: column;
}

.publish>form>div{
    height: 50px;
    margin-top: 10px;
}

.publish>form>div>input{
    width: 65%;
}

.promo{
    flex-direction: column;
    max-width: 90%;
}

.promo.videopub>video{
    width: 100%;
}

.publish>h3{
font-size: 25px;
line-height: 1.2;
}
}

@media(min-width:576px) and (max-width:700px){

}